# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Build
dist/
build/